.blog{
    margin-bottom: 100px;
}
#blogdate{
    margin-left: 100px;
}
.blogContent{
    text-align: center;
    margin-bottom: 200px;
    margin-top: -100px;
}
#title{
    margin-bottom: 40px;
}
.blogFooter{
    text-decoration: underline;
    margin-top: 30px;
}