
<div class="row">
    <div class="large-12 columns">
        <div class="intro">
            <p>Hey there! I'm Ivan. I'm a student at University of Toronto studying Computer Science.</p>
            <p>This website serves as my blogging platform and documents some of my projects.</p>
            <br>
        </div>
        <a href class="icon-button mail" ng-click="email = 'iwshen11(AT)gmail(DOT)com'">
            <i class="fa fa-envelope-o"></i><span></span>
        </a>
        
        <a href="https://ca.linkedin.com/in/shenivan" class="icon-button linkedin">
            <i class="fi-social-linkedin"></i><span></span>
        </a>
        <a href="github.com/ivanshen" class="icon-button github">
            <i class="fi-social-github"></i><span></span>
        </a>
        <div class="large-12 columns">
            {{email}}
        </div>
        <copy-right></copy-right>
    </div>
</div>


      