
<div class="row">
    <div class="large-12 columns">
        <div class="intro">
            <p>Hey there! I'm Ivan. I'm a student at University of Toronto studying Computer Science.</p>
            <p>This website serves as my blogging platform and documents some of my projects.</p>
            <br>
        </div>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
        <a href class="icon-button mail" ng-click="email = 'iwshen11(AT)gmail(DOT)com'">
            <i class="fa fa-envelope-o"></i><span></span>
        </a>
        
        <a href="https://ca.linkedin.com/in/shenivan" class="icon-button linkedin">
            <i class="fi-social-linkedin"></i><span></span>
        </a>
        <a href="github.com/ivanshen" class="icon-button github">
            <i class="fi-social-github"></i><span></span>
        </a>
        <div class="large-12 columns">
            {{email}}
        </div>
        <ul class="icon-styles small-block-grid-2 medium-block-grid-3 large-block-grid-5">
            <li>Made with        <i class="fi-heart style3"></i>        in Toronto, ON</li>
            <li>© Ivan Shen 2016</li>
        </ul>
    </div>
</div>


      